<div class="container">
    <h1>Laptop Form</h1>
    <form #laptopForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="processor">Proccessor</label>
        <input minlength="5" #proccessor="ngModel" name="proccessor" ngModel type="text" class="form-control" id="processor" 
        required [attr.aria-invalid]="proccessor.invalid">
       <ng-container *ngIf="proccessor.touched && proccessor.invalid">
        <div class="alert alert-danger" *ngIf="proccessor.errors?.['required']">
          Proccessor is required!
        </div>
        <div class="alert alert-danger" *ngIf="proccessor.errors?.['minlength']">
          Proccessor must be at least 5 characters long!
        </div>
       </ng-container>
      </div>
      <div class="form-group">
        <label for="ram">RAM</label>
        <input #ram="ngModel" name="ram" ngModel type="text" class="form-control" id="ram" 
        required>
        <div class="alert alert-danger" *ngIf="ram.touched && ram.invalid">
          RAM is required!
        </div>
      </div>
      <div class="form-group">
        <label for="hardDisk">Hard Disk (GB)</label>
        <input name="hardDisk" ngModel type="number" class="form-control" id="hardDisk">
      </div>
      <div class="form-group">
        <label for="os">Operating System</label>
        <select name="os" ngModel id="os">
          <option *ngFor="let os of operatingSystem" [value]="os">{{os}}</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  