<nav>
    <ul>
        <li><a routerLink ="/" (click)="setTitle('Home Page')">Home</a></li>
        <li><a routerLink="/about" (click)="setTitle('About Page')">About</a></li>
        <li><a routerLink="/users" (click)="setTitle('Users Page')">Users</a></li>
        <li><a routerLink="/register" (click)="setTitle('Register Page')">Register</a></li>
        <li><a routerLink="/login" (click)="setTitle('Login Page')">Login</a></li>
        <li><a routerLink="/test" (click)="setTitle('Login Page')">Test</a></li>
    </ul>
</nav>
